<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Line Ready - Fishing information and planning</title>
    <!-- CSS  -->
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/site.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div id="navbarContainer"></div>
    <iframe class="map-iframe" allow="geolocation" allowfullscreen="true" style="width: 100%; height: 100%;"
        src="https://take-me-fishing.fishbrain.com/en/#/"></iframe>
    <script src="js/jquery.min.js"></script>
    <script src="js/materialize.js"></script>
    <script>
        $(document).ready(function () {
            $("#navbarContainer").load("partials/navbar.html");           
        });
    </script>
</body>

</html>